@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  view-transition-name: none;
}
@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/circular-std-medium-500.ttf');
}
@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/Product Sans Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/Product Sans Bold Italic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/Product Sans Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/Product Sans Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'ProductSans';
  font-weight: 400;
  color: #3d3d3d;
}

::selection {
  background-color: #95ffe5;
  color: #42d6b2;
}
